<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lxf.mapper.BFSMapper">

    <resultMap id="selectDbaObjectsMap" type="DbaObjects">
        <result column="owner" property="owner"/>
        <result column="object_name" property="objectName"/>
        <result column="object_type" property="objectType"/>
    </resultMap>

    <resultMap id="selecteAllDependenciesMap" type="DbaObjects">
        <result column="referenced_owner" property="owner"/>
        <result column="referenced_name" property="objectName"/>
        <result column="referenced_type" property="objectType"/>
    </resultMap>


    <resultMap id="selectPackageMap" type="package">
        <result column="owner" property="owner"/>
        <result column="name" property="name"/>
        <result column="type" property="type"/>
        <result column="line" property="line"/>
        <result column="text" property="text"/>
    </resultMap>

    <select id="selectDbaObjects" resultMap="selectDbaObjectsMap">
        select d.owner,
               d.object_name,
               d.object_type
        from dba_objects d
        where object_id = #{objectID}
    </select>

    <select id="selecteDirectDependencies" resultMap="selecteAllDependenciesMap">


        select d.referenced_name,
               d.referenced_owner,
               case d.referenced_type when 'PACKAGE BODY' then 'PACKAGE' else referenced_type end referenced_type
        from dba_dependencies d
        where d.name = #{objectName}
          and d.owner = #{owner}
          and d.type = (case #{objectType} when 'PACKAGE' then 'PACKAGE BODY' else #{objectType} end)
          and d.referenced_owner not in ('SYS', 'PUBLIC')
          and not (d.referenced_name = d.name
            and d.owner = d.referenced_owner
            and d.type = (case d.referenced_type when 'PACKAGE' then 'PACKAGE BODY' else referenced_type end)
            )
    </select>

    <select id="selectIndexes" resultType="DbaObjects">

        select d.owner "owner", d.index_name "objectName", d.index_type "objectType"
        from dba_indexes d
        where 1 = 1
          AND D.TABLE_NAME = #{objectName}
          AND D.TABLE_OWNER = #{owner}
          AND D.TABLE_TYPE = #{objectType}


    </select>


    <select id="selectPackage" resultMap="selectPackageMap">
        SELECT d.owner, d.name, d.type, d.line, d.text
        FROM dba_source D
        WHERE D.NAME = #{objectName}
          AND D.OWNER = #{owner}
          AND D.TYPE = 'PACKAGE'
        ORDER BY LINE
    </select>
    <select id="selectPackageBody" resultMap="selectPackageMap">
        SELECT d.owner, d.name, d.type, d.line, d.text
        FROM dba_source D
        WHERE D.NAME = #{objectName}
          AND D.OWNER = #{owner}
          AND D.TYPE = 'PACKAGE BODY'
        ORDER BY LINE
    </select>
    <select id="selectSynonym" resultType="DbaObjects">
        select d.owner       "owner",
               d.synonym_name "objectName",
               'SYNONYM'     "objectType"
        from dba_synonyms d
        where 1 = 1
          AND D.TABLE_OWNER = #{owner}
          AND D.TABLE_name = #{objectName}


    </select>
</mapper>